
<div id="contenedor">
  <h1>Tienda Virtual</h1> 
        <a href="/login"><h1>Login</h1></a>
        <a href="/register"><h1>Register</h1></a>
        
       
    </div>
      
   </div>

      <a href="/chat"><h1>chat</h1></a>
      <script src="/socket.io/socket.io.js"></script>
     
 








   








   






   